<%- include('templates/header') %>
<h1>Hello, <%= name %>!</h1>
<a class="btn btn-primary rounded-pill px-3" href="/members">Go to member's area</a>
<a class="btn btn-primary rounded-pill px-3" href="/logout">Log out</a>
<%- include('templates/footer') %>
